@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'),
    url('../../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}