*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body, #app {
  height: 100%;
}

@import './_vars.scss';
@import './_fonts.scss';